.home-page {
    background-image: url('../src/assets/img/GALAXY_GIF.gif');
    background-size: cover;
    /* Add any additional styling you need */
  }
  
  #card_body, #head_body, #list_body{
    background-color: rgba(0, 0, 0, 0.736) !important;
  }
  #alert_quote {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers horizontally */
    align-items: flex-start; /* Aligns content to the top */
    width: 70%;
    max-height: 30vh; /* Set a maximum height to prevent it from taking up the entire screen */
    border-radius: 15px;
    background-color: black;
    overflow-y: auto; /* Enable vertical scrolling if needed */


    margin-left: 15%;
    margin-top: 50%;
  }
  
  
  