/* #task_inputfield{
    font-size: 25px;
    width: 340px !important;
    margin-left: 10px;
    border-bottom: 1px solid gray; /*Add white line below the input field
} */

.task-inputfield:focus {
    outline: none;
    width: '100%';
    background-color: rgb(36, 36, 36);
    /* border-top-left-radius: 10px;
    border-top-right-radius: 10px; */
  }

  /* .todolist-title{
    text-align: center;
  } */

  #icon_plus{
    font-size: 35px;
    /* margin-bottom: 500px !important; */
    border-radius: 50%;
    margin-left: 88%;
    transform: translateX(-50%) !important; /* Move the icon back by 50% of its own width */
    transform: translateY(-110%) !important;
  }